<!DOCTYPE html>
<html lang="en">

<head>
  <meta  charset="utf-8">

  <title>Starforcing Calculator</title>

  <link href="/static/css/starforce.css" rel="stylesheet">
</head>
<body>

  <h1>Starforcing Calculator</h1>

  <div class="form-style-3">
    <form method="post">

      <fieldset><legend>Equipment Level</legend>
          <select name="level" id="level">
            <option value="140">140</option>
            <option value="150" selected="selected">150</option>
            <option value="160">160</option>
            <option value="200">200</option>
          </select>
      </fieldset>

        <script>
            document.getElementById('level').value = {{.Level}};
        </script>

      <fieldset><legend>Star Levels</legend>
        <label for="start" style="display:block"><span>Starting Star Level</span>
        <select name="start" id="start">
          <option value=10 selected="selected">10</option>
          <option value=11>11</option>
          <option value=12>12</option>
          <option value=13>13</option>
          <option value=14>14</option>
          <option value=15>15</option>
          <option value=16>16</option>
          <option value=17>17</option>
          <option value=18>18</option>
          <option value=19>19</option>
          <option value=20>20</option>
          <option value=21>21</option>
          <option value=22>22</option>
          <option value=23>23</option>
          <option value=24>24</option>
        </select>
        </label>

        <script>
            document.getElementById('start').value = {{.Start}};
        </script>

        <label for="end" style="display:block"><span>Ending Star Level</span>
        <select name="end" id="end">
          <option value=11>11</option>
          <option value=12>12</option>
          <option value=13>13</option>
          <option value=14>14</option>
          <option value=15>15</option>
          <option value=16>16</option>
          <option value=17 selected="selected">17</option>
          <option value=18>18</option>
          <option value=19>19</option>
          <option value=20>20</option>
          <option value=21>21</option>
          <option value=22>22</option>
          <option value=23>23</option>
          <option value=24>24</option>
          <option value=25>25</option>
        </select>
        </label>

        <script>
            document.getElementById('end').value = {{.End}};
        </script>
      </fieldset>

      <fieldset><legend>Events</legend>
        <div>
        <label for="30%" class="chkbox">
        <input type="checkbox" id="30%" name="event1">
        30% off
        </label>
        <label for="5/10/15" class="chkbox">
        <input type="checkbox" id="5/10/15" name="event2">
        5/10/15 100%
        </label>
        <label for="10-15" class="chkbox">
        <input type="checkbox" id="10-15" name="event3">
        10->15 no boom
        </label>
        </div>

        <input type="submit" value="Go!">
      </fieldset>

      <script>
        document.getElementById('30%').checked = "on" === {{.Event1}};
        document.getElementById('5/10/15').checked = "on" === {{.Event2}};
        document.getElementById('10-15').checked = "on" === {{.Event3}}
      </script>

    </form>

    <fieldset><legend>Expected Costs</legend>
      <p>{{.Amount}}</p>
    </fieldset>
  </div>
 </body>
 </html>
