.container {
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  clear: both;
}

.container select {
  /*width: 100%;*/
  clear: both
}

.container input {
  /*width: 100%;*/
  clear: both;
}

body {
  min-height: 100%;
}

input {
  margin: .4rem;
}
